# MinIO Storage
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_DEFAULT_BUCKET=uploads

# Backend Config
DATABASE_URL=postgresql://johndoe:randompassword@postgres:5432/mydb?schema=public
JWT_SECRET=your_jwt_secret_here
